.customer-list-container {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

::ng-deep {
  .dialog-container {
    .mat-mdc-dialog-actions {
      padding: 0 24px !important;
      justify-content: flex-end;
    }

    .mat-mdc-dialog-title+.mat-mdc-dialog-content {
      padding-bottom: 0;
    }
  }

  .customer-list-container {
    .mat-mdc-table {
      .mat-mdc-header-cell {
        text-transform: capitalize;

        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(4) {
          width: 50px !important;
          min-width: 50px !important;
        }

        &:nth-child(2) {
          width: auto !important;
        }
      }
    }
  }
}